@{
    ViewData["Title"] = "Home";
}

<main class="welcome-wrapper p-3 d-flex flex-column align-items-center h-100 justify-content-center">
    <h1 class="title">PIZZABOOL</h1>
    <h3 class="pt-3"><a asp-action="Menu">Menu</a></h3>
</main>