html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 9px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #909090;
}


body{
    height:100vh;
    background-image: url(/img/background.jpg);
    background-size: cover;
}

footer{
    border-top: 1px solid lightgray;
    background-color: white;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    display: contents;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

    a:hover {
        color: red;
    }


.welcome-wrapper {
    color: white;
}

.welcome-wrapper .title {
    font-size: min(15vw, 150px);
}

.welcome-wrapper .menu-title{
    opacity: 0.7;
    transition: all 200ms linear;
}

    .welcome-wrapper .menu-title:hover {
        opacity: 1;
    }

    .welcome-wrapper .title::after {
        height: 7px;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        position: relative;
        display: block;
        content: "";
        animation: welcome 1800ms linear;
        border-radius: 50px;
    }

    @media (max-width:650px){
        .welcome-wrapper .title::after {
            height: 4px;
        }
    }

@keyframes welcome{
    0%{
        width: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    100% {
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.pizza-wrapper {
    width: 350px;
    box-shadow: 6px 9px 11px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    user-select: none;
    transition: all 200ms linear;
    background-color: white;
    border-radius: 20px 0 20px 20px;
}

.pizza-wrapper:hover{
    transform: scale(1.05);
}

.img-wrapper {
    width: 90%
}

.text-name{
    color: red;
    font-weight: bold;
}

.price-wrap {
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 80px;
    width: 80px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}